@using MvcCv.Models.Entity
@model List<Tbliletisim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">
                                <div class="timeline timeline-inverse">
                                    @foreach (var item in Model)
                                    {
                                        <div class="time-label">
                                            <span class="bg-success">
                                                @item.Tarih
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-envelope bg-primary"></i>
                                            <div class="timeline-item">
                                                <h3 class="timeline-header"><a href="#">@item.Adsoyad</a> @item.Mail</h3>
                                                <div class="timeline-body">
                                                    <h4>@item.Konu</h4>
                                                    <p>
                                                        @item.Mesaj
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>